html{
	height:100%;
}
body{
	margin:0;
	margin-bottom:10%;
	padding:0;
	height:100%;
	overflow: hidden;
}

#container{
	position:relative;
	height:100%;
}
#memberArea {
	background-color:#A4A;
	position:absolute;
	top:0;
	left:0;
	height:90%;
	width:14%;
}
#memberTop{
	text-align: center;
}

#contents{
	background-color:#FAF;
	position:absolute;
	top:0;
	right:0;
	height:90%;
	width:85%;
	padding:1%;
}

#bottom{
	background-color:#616;
	text-align: center;
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	height:10%;
}

#msgInput{
	height:50%;
	width:50%;
	margin:1%;
}
