html{
	height:100%;
}
body{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
	font-size:calc(6px + 1vw);
}
button{
	width:14vw;
	max-width:100px;
	font-size:calc(6px + 0.5vw);

}


#container{
	position:relative;
	height:90%;
}
#memberArea {
	background-color:#A4A;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:20%;
}
#memberTop{
	color:#FA6;
	text-align: center;
	padding:5%;
}
#member{
	padding:5%;
}

#member > div {
	margin-bottom:10%;
}

#contents{
	background-color:#FAF;
	position:absolute;
	top:0;
	right:0;
	height:99%;
	width:80%;
	padding:1%;
	overflow:scroll;
}
#contents > div {
	margin-bottom:1%;
}

#bottom{
	background-color:#616;
	text-align: center;
	position:fixed;
	right:0;
	left:0;
	bottom:0;
	height:10%;
}

#msgInput{
	height:50%;
	width:50%;
	margin:1%;
}

.domNew1{
	text-align: right;
	clear:both;
	float:left;
	margin:0.5% auto;
	margin-right:2%;
	padding-right:2%;
	width:20%;
}

.domNew2{
	margin:0.5% auto;
	float:left;
	width:70%;
}

#back{
	background-color:#6f6;
	border:1px solid #4c4;
	border-radius:10px;
	float:right;
	margin:0 auto;
	height:100%;
	padding:0.3%;
}

#text-length{
	color:#AAA;
}

#text-length.lengthOver{
	color:#FA0;
}
