body{
	text-align: center;
	background-color:#CC99CC;
}

h1{
	font-size:100px;
	margin-top:10%;
	margin-bottom:5%;
}

#nameArea{
	margin-bottom: 10%;
}

#enter{
	background-color: #66FF66;
	border:2px solid #44CC44;
	border-radius: 110px;
	font-size:30px;
}

